<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070975188441-71uiomvcge7vh4c1n6g4bkfo9fedg608.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070975188441-71uiomvcge7vh4c1n6g4bkfo9fedg608</string>
	<key>API_KEY</key>
	<string>AIzaSyCGeE7MHIYCsVS79rjeDypFTQ8AfnkGIlk</string>
	<key>GCM_SENDER_ID</key>
	<string>1070975188441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jmkim.DailyStock</string>
	<key>PROJECT_ID</key>
	<string>dailystock-8fab1</string>
	<key>STORAGE_BUCKET</key>
	<string>dailystock-8fab1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070975188441:ios:26f41d87cab99f594d2dc8</string>
</dict>
</plist>